 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Some Nice Words Here...</p>
                </div>
                <div class="col-lg-4">
                    <p>Press the Button to play a game I recently did in the Scratch Programming Language.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://scratch.mit.edu/projects/49958222/" class="btn btn-lg btn-outline">
                        <i class="fa fa-html5"> Play Game</i>
                    </a>
                </div>
            </div>
        </div>
    </section>